{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
        </tbody>
    </table>
    {% for user in team.users %}
      <a href="{{ path('users_show',{ 'id': user.id})}}"> {{ user.email }}</a>
      <br>
    {% endfor %}
    <br>
    <h2>Projets</h2>
    {% for project in team.projects %}
      <a href="{{ path('projects_show',{ 'id': project.id})}}"> {{ project.name }}</a>
      <br>
    {% endfor %}



    <ul>
        <li>
            <a href="{{ path('teams_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('teams_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
